a:link {
  text-decoration: none;
  padding: 14px 25px;
  text-align: center;
  display: inline-block;
}

a:visited {
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

a:hover {
  text-decoration: green;
}

a:active {
  text-decoration: red;
}
