a:link, a:visited {
  background-color: cdee00;
  color: yellow;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: green;
}
